h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:12pt;
  margin-left: 5%;
}
div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:12pt;
  margin-left: 5%;
  margin-top: 10px;
}

input {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:12pt;
}

button:hover {
  opacity: 0.9;
}

button {
  padding: 10px;
  font-weight: bold;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

#result {
  color: red;
}